*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 height: 100%;



}

section {
height: 100%;
display: flex;
justify-content:center;
align-items:center;
padding: 10%


}


section p{
    margin-top: -50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.openNodal{
    height: 100%;
    padding: 6px 5px;
    width: 500;
    border: 1px solid rgb(26, 188, 209);
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #283773;
    margin-bottom: 55px;
    
}

.modal-container{
    position:fixed;    
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;

}
.modal{
    width: 35%;
    height: 40%;
    background-image: url(fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    top: 150px;
    left: 30%;
    right: 0;
    bottom: 0;
    align-items: center;
   
}


h2{
    font-family:'Rampart One', cursiva;
    font-size: 3.5vw;
    left: -1.2vw;
    top: -1.5vw;
    position: relative;
    display: inline;
    
    
}

.card_ocult_input{
    
    display: inline;
    outline: none;
    border: 0;
    left: 2vw;
    top: 0.5vw;
    position: relative;
    font-family: 'Concert One', cursive;
    font-size: 2.1vw;
    background : inherit;

}

.buttonValidar{
    display:inline;
    left: 9vw;
    top: 0.5vw;
    position: relative;
    color: #06000c;
    background: transparent;
    border: transparent;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Concert One', cursive;
    
}
.buttonValidar:hover {
    background-color: #7c2abe;
    color: white;
}

.button2{
    display:inline;
    right: 1vw;
    top: 0.5vw;
    position: relative;
    color: #06000c;
    background: transparent;
    border: transparent;
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Concert One', cursive;
}
.button2:hover{
    background-color: #7c2abe;
    color: white;
}

.p1{
    font-family: 'Concert One', cursive;
    font-size: 2vw;
    left: -0vw;
    top: -1.5vw;
    position: relative;
    display: inline;
}

.creditvalidate{
    display: none;
}